[Unit]
Description=CouchPotato
After=docker.service
Requires=docker.service
 
[Service]
ExecStart=/usr/bin/docker start -a %n
ExecStop=/usr/bin/docker stop -t 2 %n
Restart=always
RestartSec=10s
 
[Install]
WantedBy=multi-user.target