[Unit]
Description=Deluge
After=docker.service docker.socket
Requires=docker.service docker.socket
 
[Service]
ExecStart=/usr/bin/docker start -a %n
ExecStop=/usr/bin/docker stop -t 2 %n
Restart=always
RestartSec=10s
 
[Install]
WantedBy=multi-user.target